body 
{
  background-color: rgb(209, 209, 209);
  text-align: center!important;
}

h1
{ color: #000000; font-weight: bold;}

.form-login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}